@import './switch/switch.scss';

.container{
  display:flex;
  height: 300px;
  justify-content:space-around;
  margin-top:100px;
  flex-direction: column;
  margin-left:500px
}
.switch-wrapper{
  display: flex;
flex-direction: row;
  .title{
    margin-left: 16px;
  }
}